body {
    font-family: 'Open Sans', Arial, sans-serif;
}

#head {
    font-size: 20px;
    margin-left: 20px;
}

#navbar {
    position: fixed;
}

#navbar a {
    text-decoration: none;
    color: black;
}

#navbar ul {
    margin-top: -10px;
    margin-left: -58px;
    padding-right: 124px;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    height: 455px;
    width: 200px;
    line-height: 0.8;
}

#navbar li {
    list-style: none;
    position: relative;
    margin-left: 30px;
    padding-top: 11px;
}

#hr1 {
    border-color: grey;
    transform: rotate(90deg);
    position: fixed;
    margin-left: -360px;
    width: 100%;
}

#hr2 {
    width: 310px;
}

#navbar-sub {
    padding: 10px;
}

#main-doc {
    position: absolute;
    margin-left: 375px;
    line-height: 1.6;
    padding-top: 15px;
}

#IN-1 {
    margin: 20px;
}

#IN-2 {
    margin-left: 20px;
    padding-top: 5px;
}

#WYSAK-1 {
    margin: 20px;
}

#WYSAK-2 {
    margin-left: 30px;
}

#JAJ-1 {
    margin-left: 20px;
}

#HW-1 {
    margin-left: 20px;
}

.HW-2 {
    margin-left: 25px;
    font-family: monospace;
    background: #eee;
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
}

#V-1 {
    margin-left: 20px;
}

@media (max-width:500px) {
    #head {
        font-size: 15px;
    }
}